<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Kang's Page</title>
</head>
<body>
<div layout:fragment="content">
    <p>Kang's Page</p>

    <table id="postsTable">
        <thead>
        <tr>
        <th>title</th>
        <th>content</th>
        <th>author</th>
    </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.title}">title</td>
            <td th:text="${post.content}">content</td>
            <td th:text="${post.author}">author</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>